<!DOCTYPE html>
<html>

<head>
    <title>Not Found</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        .container {
            text-align: center;
        }

        .container pre {
            color: #707070;
            font-size: 15px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div class="container">
        <pre>
        _                       
        \`*-.                   
         )  _`-.                
        .  : `. .               
        : _   '  \              
        ; *` _.   `*-._         
        `-.-'          `-.      
          ;       `       `.    
          :.       .        \   
          . \  .   :   .-'   .  
          '  `+.;  ;  '      :  
          :  '  |    ;       ;-.
          ; '   : :`-:     _.`* ;
       .*' /  .*' ; .*`- +'  `*'
       `*-*   `*-*  `*-*'       

	   </pre>
    </div>
</body>

</html>